<!-- Lachoo College Header Template -->
<div class="header-box">
    <img src="{{ url_for('static', filename='images/lachoo.jpeg') }}" alt="Lachoo College Logo" class="logo">
    <div class="center-content">
        <h1>Lachoo Memorial College of Science & Technology (AUTONOMOUS), Jodhpur</h1>
        <p>Affiliated to Jai Narain Vyas University, Jodhpur</p>
        <p>NAAC credited A Grade (consecutive three cycles)</p>
        <p>UGC "College with Potential for Excellence" from October 2013</p>
    </div>
</div>

<marquee direction="right" class="marquee">70% attendance is must or will be not allowed to enter examination hall</marquee>